@media (max-width: 1650px) {
  .news {
    padding: 90px 0 11px;
  }
}

@media (max-width: 1199.98px) {
  .news {
    padding: 82px 0 10px;
  }
}

@media (max-width: 991.98px) {
  .news {
    padding: 61px 0 8px;
  }
}

@media (max-width: 575.98px) {
  .news {
    padding: 61px 0 40px;
  }
}
