$significant-text-color: #274c5b;
$subtitle-text-color: #68a47f;
$paragraph-text-color: #525c60;

$btn-bg-color1: #274c5b;
$btn-bg-color2: #efd372;
$btn-bg-color3: #ffffff;

$light-grey-bg: #f9f8f8;

$nav-border-color: #274c5b;
