@media (max-width: 1650px) {
  .products {
    padding-top: 67px;
  }
}

@media (max-width: 991.98px) {
  .products {
    padding-top: 56px;
  }
}

@media (max-width: 575.98px) {
  .products {
    padding-top: 39px;
  }
}
