@media (max-width: 1650px) {
  .why-choose-us {
    min-height: 1072px;
    padding: 143px 0;
    &__wrapper {
      min-height: 465px;
    }
    &__content {
      width: 503px;
    }
    &__img {
      margin-top: 15px;
      width: 508px;
      height: 434px;
      border-radius: 22px;
    }
    &__title {
      margin-top: 4px;
      width: 430px;
    }
    &__text {
      margin-top: 19px;
      font-size: 14px;
    }
    &__items {
      margin-top: 27px;
      width: 364px;
    }
    &__item {
      margin-top: 18px;
      &-title {
        padding: 22px 20px 22px 40px;
        font-size: 15px;
        line-height: 18px;
        width: 254px;
        height: 61px;
        &::before {
          width: 8px;
          height: 8px;
          border: 3px solid $subtitle-text-color;
          left: 20px;
        }
      }
      &-descr {
        margin-top: 9px;
        padding: 0 0 0 45px;
        font-size: 14px;
      }
    }
    &__advantages {
      margin: 68px auto 0 auto;
      width: 838px;
      min-height: 251px;
    }
    &__advantage {
      padding: 37px 19px 34px 19px;
      width: 193px;
      min-height: 251px;
      border-radius: 22px;
      &-square {
        width: 71px;
        height: 71px;
        border-radius: 14px;
      }
      &-icon {
        // width: 38px;
        // height: 33px;
        transform: scale(0.75);
      }
      &-title {
        margin-top: 11px;
      }
      &-descr {
        margin-top: 9px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .why-choose-us {
    min-height: 1042px;
    padding: 118px 0;
    &__img {
      width: 420px;
      height: 359px;
      border-radius: 18px;
    }
  }
}

@media (max-width: 991.98px) {
  .why-choose-us {
    padding: 88px 0;
    min-height: 915px;
    &__content {
      width: 350px;
    }
    &__img {
      width: 315px;
      height: 269px;
      border-radius: 14px;
    }
    &__title {
      width: 350px;
    }
    &__items {
      width: 350px;
    }
    &__item {
      width: 350px;
      &-title {
        padding: 18px 20px 18px 40px;
        width: 243px;
        height: 54px;
      }
    }
    &__advantages {
      margin: 51px auto 0 auto;
      width: 100%;
      min-height: 212px;
      justify-content: space-around;
    }
    &__advantage {
      padding: 30px 14px 19px 14px;
      width: 162px;
      min-height: 210px;
      &-square {
        width: 60px;
        height: 60px;
        border-radius: 12px;
      }
      &-icon {
        transform: scale(0.63);
      }
      &-title {
        margin-top: 9px;
        font-size: 16px;
      }
      &-descr {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .why-choose-us {
    padding: 66px 0;
    &__wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__img {
      order: 1;
      width: 540px;
    }
    &__content {
      order: 2;
      margin-top: 35px;
      width: 100%;
    }
    &__items {
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-wrap: wrap;
      width: 100%;
    }
    &__item {
      margin-top: 0;
      width: 260px;
      &:nth-child(n + 3) {
        margin-top: 20px;
      }
      &-descr {
        padding: 0 0 0 25px;
        width: 243px;
      }
    }
    &__divider {
      display: block;
    }
    &__advantages {
      width: 100%;
      margin: 0;
      display: grid;
      grid-template-rows: minmax(120px, auto);
      grid-template-columns: 260px 260px;
      gap: 20px;
    }
    &__advantage {
      width: 260px;
      min-height: 120px;
      padding: 14px;
      display: grid;
      grid-template-rows: 20px minmax(40px, auto);
      grid-template-columns: 60px 162px;
      column-gap: 10px;
      row-gap: 6px;
      &-square {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
      }
      &-title {
        margin-top: 0;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        text-align: left;
      }
      &-descr {
        margin-top: 0;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        text-align: left;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .why-choose-us {
    padding: 40px 0;
    &__img {
      width: 100%;
      height: 117%;
    }
    &__title {
      width: 100%;
      max-width: 300px;
    }
    &__item {
      margin-top: 12px;
      &:first-child {
        margin-top: 0;
      }
    }
    &__divider {
      &::before {
        width: 120px;
      }
      &::after {
        width: 120px;
      }
    }
    &__advantages {
      grid-template-rows: minmax(100px, auto);
      grid-template-columns: 100%;
    }
    &__advantage {
      width: 100%;
      min-height: 88px;
      grid-template-rows: 24px minmax(20px, auto);
      grid-template-columns: 60px calc(100% - 70px);
      &-title {
        margin-top: 4px;
      }
      &-descr {
        font-size: 14px;
      }
    }
  }
}
